################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SalesSystem-API/FileContentIndex/33925aab-f7d1-498a-bf7b-46a5f2bc1685.vsidx
